<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isdust.www"
    android:versionCode="3"
    android:versionName="1.01">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/isdust"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity
            android:name=".AppStart"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNotTranslucent" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CardListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jiaowu_EmptyRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaowu_Schedule_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardLossActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoNetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jiaowu_index"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_guancang_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkPublicLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KuaiTongAcntActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KuaiTongInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoNetCMCCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoNetChinaUnicomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KuaiTongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_guancang_scan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_guancang_result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_guancang_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_personal_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_personal_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaowu_Schedule_login"

            android:screenOrientation="portrait" />
        <activity
            android:name=".Card_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jiaowu_schedule_add"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkCMCCLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_index"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jiaowu_chengjichaxun_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jiaowu_tice_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Jiaowu_tice_view"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5632aefc67e58eef5d001100" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="isdust_public_1.3" />
    </application>

</manifest>