<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isdust.www"
    android:versionCode="3"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/isdust"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        android:name="com.isdust.www.MyApplication">

        <activity
            android:name="com.umeng.fb.ConversationActivity"/>


        <activity
            android:screenOrientation="portrait"
            android:name="com.isdust.www.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.isdust.www.CardListView"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.isdust.www.EmptyRoomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.ScheduleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.CardChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.CardLossActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.isdust.www.GoNetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.JiaowuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.LibraryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.CardActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.isdust.www.NewsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NetworkPublicLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.KuaiTongAcntActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.KuaiTongInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.GoNetCMCCActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.GoNetChinaUnicomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.KuaiTongActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.isdust.www.Library_scan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.Library_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.Library_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.Schedule_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.Card_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.isdust.www.NetworkCMCCLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data android:value="5632aefc67e58eef5d001100" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Jingyu-all" android:name="UMENG_CHANNEL"/>

    </application>


</manifest>
