<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formal.sdusthelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/isdust"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="G20BbP97XFljW1KUC2wKkCPU" />


        <activity
            android:screenOrientation="portrait"
            android:name="com.formal.sdusthelper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.formal.sdusthelper.CardListView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name="com.formal.sdusthelper.SchoolMapActivity"
            android:screenOrientation="portrait"
            >
         </activity>

        <activity
            android:name="com.formal.sdusthelper.MapchooseActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".EmptyRoomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.ScheduleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.CardChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.CardLossActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.formal.sdusthelper.GoNetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.JiaowuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.LibraryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.CardActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.LifeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.NewsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.SetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.SetAccountActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.GoNetCMCCAcntActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.GoNetCMCCActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.GoNetChinaUnicomActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.GoNetKuaiTong"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.GoNetChinaUnicomAcntActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.formal.sdusthelper.IntelligentSchedule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.Library_scan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.Library_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.Library_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.formal.sdusthelper.Schedule_login"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
    </application>


</manifest>
